background-attachment:  fixed;
/*mozzela advised to do that^ I'm not sure what it accomplished*/
header{
  background-color: grey;/*seems pointless*/
}
 
body{
  min-width: 300px;
  background-color: deepskyblue;
}

main{

  padding-left: 20px;
}

/*is the following overkill? wish I had months just to play around with it*/
h1{
  color: #000;
  font-family: 'Times New Roman', Times, serif;
  font-size: 55px;
  font-weight: 700;
  font-style:italic;
  text-align: center;
  line-height: 100%;
  letter-spacing: 0px;
  padding: 50px 50px 50px 50px ;
  margin: 20px 20px 20px 20px;
  
}
h2{
  font-family: 'Courier New', Courier, monospace;
  font-size:  38px;
  color: darkslategray;
  font-weight: 400;
  text-align: center;
  line-height: 100%;
  letter-spacing: opx;
  padding: 50px 50px 50px 50px;
  margin: 20px 20px 20px 20px
}

h3{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: darkslategray;
  font-weight: 400;
  text-align:center;
  line-height: 100%;
  letter-spacing: 0px;
}
p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: normal;
  color: black;
  text-align: left;
  line-height:100%
}

ol{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: normal;
  color: black;
  text-align: left;
  line-height:100%;
}

ul{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: normal;
  color: black;
  text-align: left;
  line-height:100%;
}

a{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
}

a:link {color:blue;}
a:visited {color:darkred;}
a:hover {color:forestgreen;}
a:active {color: deeppink;}

footer{
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  line-height: 100%;
  background-color: rgb(182, 189, 189);
  text-align: center;
}

hr{ /*again I have a lot to learn and my attention is caught*/
  width: 15px;
  height: 15px;
  border: none;
  background: darkslategray;
  color: darkslategray;
  margin-top: 30px;
  margin-bottom:30px;
  transform: rotate(45deg);
}
